// .hljs-code,
// .hljs-emphasis {
// 	font-style: italic;
// }

// .hljs-variable,
// .hljs-template-variable,
// .hljs-selector-id,
// .hljs-selector-class {
// 	color: purple;
// }

// .hljs-number,
// .hljs-symbol,
// .hljs-bullet {
// 	color: purple;
// }

// .hljs-keyword,
// .hljs-selector-tag,
// .hljs-literal {
// 	color: purple;
// }

// .hljs-comment,
// .hljs-deletion,
// .hljs-code {
// 	color: purple;
// }

// .hljs-regexp,
// .hljs-link {
// 	color: purple;
// }

// .hljs-meta {
// 	color: purple;
// }

// .hljs-deletion {
// 	background-color: purple;
// 	color: purple;
// }

// .hljs-addition {
// 	background-color: purple;
// 	color: purple;
// }

// .hljs a {
// 	color: inherit;
// 	&:focus,
// 	&:hover {
// 		color: inherit;
// 		text-decoration: underline;
// 	}
// }

.hljs {
	display: block;
	overflow-x: auto;
	background: transparent;
	color: $base-color;
	&.html {
		.hljs-name,
		.hljs-strong {
			font-weight: bold;
		}
		.hljs-tag {
			color: $primary-color;
		}
		.hljs-attr {
			color: $negative-color;
		}
		.hljs-string {
			color: $positive-color;
		}
	}
	&.javascript {
		display: inline-block;
		padding: $padding / 2 $padding;
		border-radius: $border-radius;
		background: $primary-color;
		color: $primary-pair;
	}
}
