@import 'core/all';
@import 'components/box/all';
@import 'components/code/all';
@import 'components/footer/all';
@import 'layout/all';
.bb-btn.icon span,
a.bb-btn.icon span {
	width: auto;
	height: auto;
}

.bb-grid .column:last-child {
	padding-bottom: 1rem;
}

.bb-navbar {
	opacity: 0;
	transition: transform $transition-effect $transition-duration,
	opacity $transition-effect $transition-duration;
	transform: translateY(-2rem);
	pointer-events: none;
}

.doc-navbar {
	opacity: 0;
	transition: transform $transition-effect $transition-duration,
	opacity $transition-effect $transition-duration;
	transform: translateY(2rem);
	pointer-events: none;
}

.bb-navbar.display,
.doc-navbar.display {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

@include respond-to('md') {
	.section {
		padding-right: constant(safe-area-inset-right);
		padding-left: constant(safe-area-inset-left);
	}
}

.bottom {
	&.fixed {
		position: fixed;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		padding-bottom: constant(safe-area-inset-bottom);
	}
	&.shadow {
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
		.items.active {
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
		}
	}
}

.text-center-lg {
	@include respond-to('lg') {
		text-align: center;
	}
}

.doc-navbar {
	.bb-btn {
		flex-direction: column;
		border-color: transparent;
		background: transparent;
		color: $base-color;
		font-size: $font-size-sm;
		&:hover,
		&.active {
			border-color: transparent;
			background: transparent;
			color: $secondary-color;
		}
		&.icon span {
			margin: 0 0 .5rem 0;
			font-size: $font-size-lg;
		}
	}
}

.bb-card {
	@include border($card-border-width, $card-border-style, $card-border-color);
	&.primary {
		@include border($card-border-width, $card-border-style, $primary-color);
	}
	&.secondary {
		@include border($card-border-width, $card-border-style, $secondary-color);
	}
}

.subtitle {
	&.sm {
		font-size: $font-size-md;
	}
	&.lg {
		font-size: $font-size-xl;
	}
}

.bb-alert .close {
	top: $alert-spacing;
	right: $alert-spacing / 2;
}

.section.doc {
	background: $lighter-grey;
}

// .bb-box {
// 	.close {
// 		position: relative;
// 		top: auto;
// 		right: auto;
// 	}
// 	 > .close {
// 		position: absolute;
// 		top: 1.5rem;
// 		right: 1rem;
// 	}
// }

.doc-page-animation-appear {
	opacity: 0;
	transform: translateY(20px);
	&.doc-page-animation-appear-active {
		opacity: 1;
		transition: all .25s linear;
		transform: translateY(0);
	}
}
// .doc-page-animation-enter {
// 	opacity: 0;
// 	transform: translateY(12px);
// }
// .doc-page-animation-enter.doc-page-animation-enter-active {
// 	opacity: 1;
// 	transition: all .25s linear .4s;
// 	transform: translateY(0);
// }
// .doc-page-animation-leave {
// 	opacity: 1;
// 	transform: translateY(0);
// }
// .doc-page-animation-leave.doc-page-animation-leave-active {
// 	position: absolute;
// 	width: 100%;
// 	opacity: 0;
// 	transition: all .25s linear;
// 	transform: translateY(120px);
// }
