@import 'core/all';
@import 'components/box/all';
@import 'components/code/all';
@import 'components/footer/all';
@import 'layout/all';
.bb-btn.icon span,
a.bb-btn.icon span {
	width: auto;
	height: auto;
}

.bb-grid .column:last-child {
	padding-bottom: 1rem;
}

.bb-navbar {
	opacity: 0;
	transition: transform $transition-effect $transition-duration,
	opacity $transition-effect $transition-duration;
	transform: translateY(-2rem);
	pointer-events: none;
}

.doc-navbar {
	opacity: 0;
	transition: transform $transition-effect $transition-duration,
	opacity $transition-effect $transition-duration;
	transform: translateY(2rem);
	pointer-events: none;
}

.bb-navbar.display,
.doc-navbar.display {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

@include respond-to('md') {
	.section {
		padding-right: env(safe-area-inset-right);
		padding-left: env(safe-area-inset-left);
	}
}

.bottom {
	&.fixed {
		position: fixed;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		padding-bottom: env(safe-area-inset-bottom);
	}
	&.shadow {
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
		.items.active {
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
		}
	}
}

.text-center-lg {
	@include respond-to('lg') {
		text-align: center;
	}
}

.doc-navbar {
	.bb-btn {
		flex-direction: column;
		border-color: transparent;
		background: transparent;
		color: $base-color;
		font-size: $font-size-sm;
		&:hover,
		&.active {
			border-color: transparent;
			background: transparent;
			color: $secondary-color;
		}
		&.icon span {
			margin: 0 0 .5rem 0;
			font-size: $font-size-lg;
		}
	}
}

.bb-card {
	@include border($card-border-width, $card-border-style, $card-border-color);
	&.primary {
		@include border($card-border-width, $card-border-style, $primary-color);
	}
	&.secondary {
		@include border($card-border-width, $card-border-style, $secondary-color);
	}
}

.subtitle {
	&.sm {
		font-size: $font-size-md;
	}
	&.lg {
		font-size: $font-size-xl;
	}
}

.bb-alert .close {
	top: $alert-spacing;
	right: $alert-spacing / 2;
}

body {
	background: $lighter-grey;
}

.doc-page-animation-enter {
	position: absolute;
	z-index: -1;
	width: 100%;
	opacity: 0;
	transform: translateY(.5rem);
}
.doc-page-animation-enter.doc-page-animation-enter-active {
	opacity: 1;
	transition: all .25s ease-in-out;
	transition-delay: .25s;
	transform: translateY(0);

	will-change: opacity, transform;
}
.doc-page-animation-exit {
	position: absolute;
	width: 100%;
	opacity: 1;
	transform: translateY(0);
}
.doc-page-animation-exit.doc-page-animation-exit-active {
	opacity: 0;
	transition: all .25s ease-in-out;
	transform: translateY(.5rem);

	will-change: opacity, transform;
}

.bb-breadcrumb {
	text-transform: capitalize;
	ul {
		padding: 0;
	}
}
.section {
	&.p-t-0 {
		padding-top: 0;
	}
	&.p-b-0 {
		padding-bottom: 0;
	}
}

.bb-box {
	.text-doc {
		color: $base-color !important;
	}
}

.bb-btn.icon {
	justify-content: space-between;
	span {
		margin: 0;
	}
}

.bb-divider + p:not(:first-child) {
	padding-top: 0;
}
// remove icon//

.media .media {
	margin-top: $media-spacing-y - $media-divider-width;
}

.media {
	&.center {
		align-items: center;
	}
	&.bottom {
		align-items: flex-end;
	}
}

.bb-footer {
	width: 100%;
}

.bb-table.no-border-radius {
	* {
		border-radius: 0 !important;
	}
}

.bb-stats {
	display: inline-flex;
	&.vertical {
		align-items: center;
	}
}
