@import 'variables';
@import 'bearbones';
@import 'fonts';

@mixin pagination-variant($color, $background) {
  .item,
  .dot {
    $active-background: darken($background, 10%);
    color: $color;
    background: $background;
    @include border-color($active-background);
    @include hover {
      color: $color;
      background: $active-background;
      text-decoration: none;
    }
    &.disabled,
    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
    &:active,
    &.active {
      color: $color;
      background: $active-background;
    }
  }
}

@mixin outline-pagination-variant($background) {
  .item,
  .dot {
    $active-background: $background;
    color: $background;
    background: $white;
    @include border-color($background);
    @include hover {
      background: $active-background;
      text-decoration: none;
      color: $white;
    }
    &.disabled,
    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
    &:active,
    &.active {
      color: $white;
      background: $active-background;
    }
  }
}

@mixin pagination-font-size($font-size, $min-width) {
  font-size: $font-size;
  min-width: $min-width;
}

.bb-pagination {
  display: inline-flex;
  margin: 0;
  vertical-align: middle;

  @include pagination-variant($base-variant-color, $base-variant-background);
  user-select: none;
  .item {
    padding: $pagination-spacing-y $pagination-spacing-x;
    text-align: center;
    text-decoration: none;
    font-weight: $pagination-font-weight;
    cursor: pointer;
  }
  &:not(.connected) {
    .item {
      @include border(
        $pagination-border-width,
        $pagination-border-style,
        $base-variant-border
      );
      @include transition($pagination-transition);
      @include border-radius($pagination-border-radius);
      &:not(:last-child) {
        margin-right: $pagination-spacing-x/2;
      }
    }
  }
  &.connected {
    .item {
      @include border-left(
        $pagination-border-width,
        $pagination-border-style,
        $base-variant-border
      );
      @include border-bottom(
        $pagination-border-width,
        $pagination-border-style,
        $base-variant-border
      );
      @include border-top(
        $pagination-border-width,
        $pagination-border-style,
        $base-variant-border
      );
      @include pagination-font-size(
        $pagination-font-size,
        $pagination-min-width
      );
      &:first-child {
        @include border-left-radius($pagination-border-radius);
      }
      &:last-child {
        border-right-style: $pagination-border-style;
        border-right-width: $pagination-border-width;
        @include border-right-radius($pagination-border-radius);
      }
    }
  }

  .dot {
    padding: $pagination-dot-size;
    text-decoration: none;
    cursor: pointer;
    @include border(
      $pagination-border-width,
      $pagination-border-style,
      $base-variant-border
    );
    @include transition($pagination-transition);
    @include border-radius($pagination-dot-border-radius);
    &:not(:first-child),
    &:not(:last-child) {
      margin: 0 $pagination-dot-spacing;
    }
  }
  &.no-border {
    .item {
      border: 0 !important;
    }
  }
  &.invert {
    @include pagination-variant(
      $invert-variant-color,
      $invert-variant-background
    );
  }
  &.primary {
    @include pagination-variant(
      $primary-variant-color,
      $primary-variant-background
    );
  }
  &.secondary {
    @include pagination-variant(
      $secondary-variant-color,
      $secondary-variant-background
    );
  }
  &.positive {
    @include pagination-variant(
      $positive-variant-color,
      $positive-variant-background
    );
  }
  &.negative {
    @include pagination-variant(
      $negative-variant-color,
      $negative-variant-background
    );
  }
  &.outline {
    @include outline-pagination-variant($base-variant-background);
    &.invert {
      @include outline-pagination-variant($invert-variant-background);
    }
    &.primary {
      @include outline-pagination-variant($primary-variant-background);
    }
    &.secondary {
      @include outline-pagination-variant($secondary-variant-background);
    }
    &.positive {
      @include outline-pagination-variant($positive-variant-background);
    }
    &.negative {
      @include outline-pagination-variant($negative-variant-background);
    }
  }
  &.xs {
    .item {
      @include pagination-font-size($font-size-xs, $pagination-min-width - 2);
    }
  }
  &.sm {
    .item {
      @include pagination-font-size($font-size-sm, $pagination-min-width - 1);
    }
  }
  &.lg {
    .item {
      @include pagination-font-size($font-size-lg, $pagination-min-width + 1);
    }
  }
  &.xl {
    .item {
      @include pagination-font-size($font-size-xl, $pagination-min-width + 2);
    }
  }
}
